﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pädevuste Andmebaas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
        <img class="logo-image" src="~/Content/lang=EN.png"/>
     
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Pädevuste andmebaas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
                    {
                        <li>@Html.ActionLink("Töötajad", "Nimekiri", "Kasutaja")</li>
                        <li>@Html.ActionLink("Oskused", "Index", "KasutajaOskus")</li>
                        <li>@Html.ActionLink("Osakonnad", "Index", "Osakond")</li>

                        KasutajaRoll k = KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id) ?? null;
                        if (k != null)
                        {
                            if (Roll.KasOnAdmin(k.RollId))
                            {
                                <li>@Html.ActionLink("Rollid", "Index", "KasutajaRolls")  </li>
                                <li>@Html.ActionLink("Kasutajaloome", "Create", "Kasutaja")</li>
                            }
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")  @*Siit tuleb parempoolne osa meie navbar-i*@
            </div>
        </div>
        
        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <marquee><shadow>Otsid oskustega töötajat? Oled õiges kohas!</shadow> </marquee><br/><br/>
            <p>&copy;&reg; @DateTime.Now.Year OÜ Pädevused</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
