﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        @* Tingimuslause, et  eristada nime omavat kasutajat sisselogimisel nime mitteomavast kasutajast *@

        @{
            Kasutaja k = Kasutaja.ByEmail(User.Identity.Name);

            if (k == null)
            {
                <li>@Html.ActionLink("Kasutaja email: " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            }
            else
            {
                KasutajaRoll z = KasutajaRoll.ById(k.Id)?? null;
                if (z != null)
                { 
                    Roll y = Roll.ByRollId(z.RollId);
                    <li>@Html.ActionLink("Tere, " + k.Nimi + " (" + y.Nimetus + ")", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Tere, " + k.Nimi, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li> }
                }
        }





        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
