﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Warning!</h1>
<h2 class="text-danger">Your actions have started the countdown of the doomsday clock for the webpage! Leave immediately to turn it off!</h2>

