﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<p>
    Tere!
    @if (Request.IsAuthenticated)
    {
    <p>Kasutaja: @User.Identity.Name</p>
    <p>Oled kasutaja meie baasis: @ViewBag.Kasutajanimi</p>
    }
    else
    {
        <p>Te olete sisselogimata kasutaja</p>
    }
</p>


<address>
    Meie oleme:<br/><br/>
    OÜ Pädevused<br/>
    Tallinn, Lõõtsa 8<br />
    Eesti<br />
    <abbr title="Phone">Tel:</abbr>
    674 66580
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:inimesed@padevused.com">inimesed@padevused.com</a><br />
    
</address>

<h4>@ViewBag.TheMessage</h4>

<form method="post">
    <textarea name="Teade"></textarea>
    <input type="submit" value="saada" />
</form>
<br/>

<img class="glyphicon-map-marker" />
<div style="overflow:hidden;max-width:100%;width:300px;height:300px;position:absolute;margin-top:-400px;margin-left:700px;">
    <h4>Meie asume siin:</h4>
    <div id="gmapdisplay" style="height:100%; width:100%;max-width:100%;">
    <iframe style="height:100%;width:100%;border:3px solid #2a6496; border-radius:5px;" frameborder="0";
            src="https://www.google.com/maps/embed/v1/place?q=Lõõtsa+8,+Tallinn,+Eesti&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
        </iframe></div>
<style>
    #gmapdisplay img {
        max-height: none;
        max-width: none !important;
        background: none !important;
       
    }
</style></div>




