﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <strong><h2>Pädev töötaja</h2></strong>
        <p>Leia oma unistuste töötaja juba täna. Selleks, et näha meie töötajate andmebaasi peate olema registreeritud kasutaja!</p>
        <p><a href="http://localhost:52776/Account/Login" class="btn btn-default">Registreeru või logi sisse &raquo;</a></p>
    </div>
</div><br/><br/>

<div class="row">
    <div class="col-md-4">
        <h2>Uued töötajad</h2>
        <p>
            Meil leidub nii puhta kui musta töö tegijaid!
        </p>
        <p><a class="btn btn-default" href="https://images.unsplash.com/photo-1484602135284-bfdc0768b8f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=06527aa1d2e931b4078536f9c4403eb4&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb"/>Uuri lisa! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teenused</h2>
        <p>Meil on kõik teenused olemas!</p>
        <p><a class="btn btn-default" href="https://images.unsplash.com/photo-1499083097717-a156f85f0516?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0857182ce680e944304c9980ec175b10&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb">Uuri lisa! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Karjääriabi</h2>
        <p>Meilt saad parima karjääri!</p>
        <p><a class="btn btn-default" href="https://images.unsplash.com/photo-1504813184591-01572f98c85f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=88b427d0f977a2ccdc16b00e94a760e9&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb">Uuri lisa! &raquo;</a></p>
    </div>
</div>
<br/>
<br/>
<h2>Kliendid meist:</h2><br />
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li><br/>
    </ol><br />*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h5>"Oleme teenusega väga rahul. Parimad töötajad!"<br><span style="font-style:normal;">Mihkel Püss, PüssijaPanniga OÜ, Juhataja</span></h5>
        </div>
        <div class="item">
            <h5>"Lihtsalt... WOW!! Tänan Teid Pädevused OÜ."<br><span style="font-style:normal;">Johan Jurkatamm, Laatsaret AS, Personalispetsialist</span></h5>
        </div>
        <div class="item">
            <h5>"Tegelikult me ei jäänud rahule - täiesti ebapädevad poisid ja tüdrikud! Ei soovita."<br><span style="font-style:normal;">Viki Virru, Näitleja, TallinnaVirisejateTeater</span></h5>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

