﻿@model WebApplication3.KasutajaOskus

@{
    ViewBag.Title = "Delete";
}

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {
        if (User.Identity.Name == ViewBag.Kasutaja || Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
        {
            <h2>Eemalda oskus</h2>

            <h3>Oled sa kindel, et tahad selle oskuse kasutajalt eemaldada?</h3>
            <div>
                <h4>Kasutaja oskus</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tase)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tase)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kuupäev)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Kuupäev)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kasutaja.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Kasutaja.Email)
                    </dd>

                    <dt>
                        Oskus
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Oskus.Nimetus)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        }
        else
        {
            Write("Siin pole mitte midagi. Mine ära. >:(");
        }
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}