﻿@model WebApplication3.KasutajaOskus

@{
    ViewBag.Title = "Details";
}

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {
        if (User.Identity.Name == ViewBag.Kasutaja || Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
        {

            <h2>Details</h2>

            <div>
                <h4>Kasutaja oskused</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tase)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tase)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kuupäev)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Kuupäev)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kasutaja.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Kasutaja.Email)
                    </dd>

                    <dt>
                        Oskus
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Oskus.Nimetus)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
        else
        {
            Write("Siin pole mitte midagi. Mine ära. >:(");
        }
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}

