﻿@model IEnumerable<WebApplication3.KasutajaOskus>

@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

@{
    if (!User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) == null)
    {

        <p>Siin pole mitte midagi. Mine ära. >:(</p>
    }
    else
    {
        KasutajaRoll k = KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id) ?? null;
        if (k == null)
        {
            <p>
                Nägemiseks on vajalik roll - Teil puudub see. Paluge adminnil endale roll määrata.
            </p>
        }
        else
        {
            <h2>Kasutajate oskuste nimekiri</h2>

            <p>
                @Html.ActionLink("Lisa endale uus oskus", "Edit", "Kasutaja", new { id = Kasutaja.ByEmail(User.Identity.Name).Id }, null)
                <br />
                @Html.ActionLink("Andmebaasis olevate oskuste nimekiri", "Index", "Oskus")
                <br />
                @Html.ActionLink("Lisa uus oskus nimekirja", "Create", "Oskus")
                @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                {
                    <br />
                    @Html.ActionLink("Lisa kasutajale uus oskus", "Create")
                }
            </p>

            using (Html.BeginForm("Index", "KasutajaOskus", FormMethod.Get))
            {
                <p>
                    Otsi termini järgi: @Html.TextBox("searchWord", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Otsi" class="btn btn-default" />
                    <input type="button" onclick="location.href = '@Url.Action("Index", "KasutajaOskus", new { searchWord = "" })'" value="Reset" class="btn btn-default" />
                </p>
            }

            <table class="table">
                <tr>
                    @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Kuupäev)

                            @if (ViewBag.Date == "date_asc")
                            {
                                <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "date_desc", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "date_asc", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                        </th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Kasutaja.Nimi)

                        @if (ViewBag.name == "name_asc")
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "name_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th>
                        Oskus

                        @if (ViewBag.name == "oskus_asc")
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "oskus_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "oskus_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tase)

                        @if (ViewBag.name == "tase_asc")
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "tase_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "KasutajaOskus", new { sortOrder = "tase_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                        {
                            <td>
                                @if (item.Kuupäev.HasValue)
                                {
                                    DateTime? dt = (DateTime?)item.Kuupäev;
                                    string dateT = string.Format("{0:d}", dt);
                                    @Html.DisplayFor(modelItem => dateT);
                                }
                                @*@Html.DisplayFor(modelItem => item.Kuupäev.Value.ToShortDateString()) <-- seda ei saa teha, sest displayfor ei salli meetodit!*@
                            </td>
                        }
                        <td>
                            @if (Roll.KasOnEmployee(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true
                                && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == false
                                && item.Kasutaja.Id != Kasutaja.ByEmail(User.Identity.Name).Id)
                            {
                                @Html.DisplayFor(modelItem => item.Kasutaja.Nimi)
                            }
                            else
                            {
                                <b class="custom-link">
                                    @Html.ActionLink(item.Kasutaja.Nimi, "Details", "Kasutaja", new { id = item.Kasutaja.Id }, null)
                                </b>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oskus.Nimetus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tase)
                        </td>
                        <td>
                            @if (item.Kasutaja.Id == Kasutaja.ByEmail(User.Identity.Name).Id && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == false)
                            {
                                @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
                            }

                            @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                            {
                                <text>
                                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id })  |
                                    @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                                </text>
                            }
                        </td>
                    </tr>
                }

            </table>
            <br />
            
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfSkills, page => Url.Action("Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        }
    }

}
