﻿@model WebApplication3.KasutajaRoll

@{
    ViewBag.Title = "Kustuta";
}

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {
        <h2>Eemalda roll</h2>

        <h3>Oled sa kindel, et tahad selle kasutaja rolli eemaldada?</h3>
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Kasutaja.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kasutaja.Email)
                </dd>

                <dt>
                    Roll
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Roll.Nimetus)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Tagasi nimekirja", "Index")
                </div>
            }
        </div>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}
