﻿@model WebApplication3.KasutajaRoll

@{
    ViewBag.Title = "Details";
}

@{
    if (true)
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
    else
    {
        <h2>Detailid</h2>


        <div>
            <h4>KasutajaRoll</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Kasutaja.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kasutaja.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Roll.Nimetus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Roll.Nimetus)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}
