﻿@model IEnumerable<WebApplication3.KasutajaRoll>

@{
    ViewBag.Title = "Index";
}


@{
    <h2>Index</h2>

    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {
        <p>
            @Html.ActionLink("Anna kasutajale roll", "Create")
            <br />
            @Html.ActionLink("Rollide nimekiri", "Index", "Rolls")
        </p>
    }


    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Kasutaja.Nimi)


                    @if (ViewBag.Nimi == "nimi_asc")
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "nimi_desc" })">
                            <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "nimi_asc" })">
                            <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kasutaja.Email)

                    @if (ViewBag.Email == "email_asc")
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "email_desc" })">
                            <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "email_asc" })">
                            <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roll)


                    @if (ViewBag.Roll == "roll_asc")
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "roll_desc" })">
                            <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "KasutajaRolls", new { sortOrder = "roll_asc" })">
                            <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                        </a>
                    }
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kasutaja.Nimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kasutaja.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roll.Nimetus)
                    </td>
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })


                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}

