﻿@model WebApplication3.Oskus

@{
    ViewBag.Title = "Create";
}

@{
//TODO : Vaja lisada submit nupule tšekk - kui oskuse lisab adminn, on ok, kui kasutaja, saadab hoopiski adminnile teate; või siis lihtsalt kaks erinevat nuppu erinevate funktsioonidega (lauri)
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Oskus</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nimetus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nimetus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nimetus, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Loo" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Tagasi oskuste nimekirja", "Index")
            <br />
            @Html.ActionLink("Tagasi kasutajate oskuste nimekirja", "Index", "KasutajaOskus")
        </div>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
