﻿@model WebApplication3.Oskus

@{
    ViewBag.Title = "Details";
}

@{
    if (true)
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
    else
    {

        <h2>Details</h2>

        <div>
            <h4>Oskus</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nimetus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nimetus)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}