﻿@model IEnumerable<WebApplication3.Oskus>

@{
    ViewBag.Title = "Index";
}

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Lisa uus oskus", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nimetus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nimetus)
                    </td>
                    @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                    {
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                    </td>
                    }
                </tr>
            }

        </table>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}