﻿@model WebApplication3.Roll

@{
    ViewBag.Title = "Delete";
}

@{
    if (true)
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
    else
    {
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>

        <div>
            <h4>Roll</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nimetus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nimetus)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    }
}
