﻿@model IEnumerable<WebApplication3.Roll>

@{
    ViewBag.Title = "Index";
}


@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {

        <h2>Index</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nimetus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nimetus)
                    </td>
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}
