﻿@model WebApplication3.Osakond

@{
    ViewBag.Title = "Details";
}

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {
        <h2>Detailid</h2>

        <div>
            <h4>Osakond</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nimetus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nimetus)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </p>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}
