﻿@model IEnumerable<WebApplication3.Osakond>

@{
    ViewBag.Title = "Index";
}

@{
    if (!User.Identity.IsAuthenticated || Kasutaja.ByEmail(User.Identity.Name) == null)
    {

        <p>Siin pole mitte midagi. Mine ära. >:(</p>
    }
    else
    {
        KasutajaRoll k = KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id) ?? null;
        if (k == null)
        {
            <p>
                Nägemiseks on vajalik roll - Teil puudub see. Paluge adminnil endale roll määrata.
            </p>
        }
        else
        {
            <h2>Index</h2>

            if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
            {
                <p>
                    @Html.ActionLink("Loo uus osakond", "Create")
                    <br />
                    @Html.ActionLink("Määra osakonnale manager", "CreateManager")
                </p>
            }

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nimetus)

                        @if (ViewBag.Osak == "osak_asc")
                        {
                            <a href="@Url.Action("Index", "Osakond", new { sortOrder = "osak_desc" })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Osakond", new { sortOrder = "osak_asc" })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th>
                        Manager

                        @if (ViewBag.OsakMan == "osakManager_desc")
                        {
                            <a href="@Url.Action("Index", "Osakond", new { sortOrder = "osakManager_asc" })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Osakond", new { sortOrder = "osakManager_desc" })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nimetus)
                        </td>
                        
                        <td>
                            @foreach (var user in ViewBag.Mingi)
                            {
                                if (item.ManagerId == user.Id)
                                {
                                    var nimiBoss = user.Nimi;
                                    @Html.DisplayFor(modelItem => nimiBoss)
                                }
                            }
                        </td>

                        @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                        {
                            <td>
                                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                            </td>
                        }
                    </tr>
                }
            </table>
        }
    }
}
