﻿@model WebApplication3.Kasutaja

@{
    ViewBag.Title = "Delete";
}
@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
    {
        <h2>Eemalda kasutaja</h2>

        <h3>Oled sa kindel, et tahad selle kasutaja  eemaldada?</h3>
        <div>
            <h4>Kasutaja</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nimi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nimi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Osakond)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Osakond.Nimetus)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Nimekiri")
                </div>
            }
        </div>
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}