﻿@model WebApplication3.Kasutaja

@{
    ViewBag.Title = "Details";
}
@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {
        if (User.Identity.Name == ViewBag.Kasutaja || Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
        {
            <h2>Details</h2>

            <div>
                <h4>Kasutaja</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nimi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nimi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Osakond)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Osakond.Nimetus)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Tagasi nimekirja", "Nimekiri")
            </p>
        }
        else
        {
            <p>
                See pole Teie kasutaja. Palun piiluge vaid enda püksi.
            </p>
            @Html.ActionLink("Tagasi nimekirja", "Nimekiri");
        }
    }
    else
    {
        <p>
            Kes sa veel oled? Kuidas siia said? Mis toimub, hei! Siia ei tohi tull---
        </p>
    }

}
