﻿@model WebApplication3.Kasutaja
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    if (User.Identity.IsAuthenticated && Kasutaja.ByEmail(User.Identity.Name) != null)
    {
        if (User.Identity.Name == ViewBag.Kasutaja || Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Kasutaja</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OsakondID, "Osakond", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("OsakondID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OsakondID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Aktiivsus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Aktiivsus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Aktiivsus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LisaOskus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LisaOskus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LisaOskus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LisaTase, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LisaTase, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LisaTase, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @*See on lihtsalt näide, et Partial View-d saab kasutada, aga õige sisu ma pean siia veel tegema (Tanel)*@
                    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                    @*See on lihtsalt näide, et Partial View-d saab kasutada, aga õige sisu ma pean siia veel tegema (Tanel)*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @using (Html.BeginForm("Index", "KasutajaOskus", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <span>Laadige diplom, koolituse tunnistus...:</span><br />
                    <br />
                    <input type="file" name="postedFile" />
                    <br />
                    <input type="submit" value="Upload" />
                    <br />
                    <span style="color:green">@ViewBag.Message</span>
                    <br />
                }
            </div>

            <div>
                <strong>
                    @Html.ActionLink("Tagasi töötajate nimekirja", "Nimekiri") <br />
                    @Html.ActionLink("Tagasi oskuste nimekirja", "Index", "KasutajaOskus", null)

            </strong>
        </div>
        }
        else
        {
            Write("Siin pole mitte midagi. Mine ära. >:(");
        }
    }
    else
    {
        Write("Siin pole mitte midagi. Mine ära. >:(");
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
