﻿@using Microsoft.AspNet.Identity
@model IEnumerable<WebApplication3.Kasutaja>

@{
    ViewBag.Title = "Index";
}

@{
    if (true)
    {
        Response.Redirect("~/Kasutaja/Nimekiri");
    }
    else
    {
        <h2>Index</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Osakond)
                </th>
                <th></th>
            </tr>

            @*See on tavakasutaja vaade Kasutajad lehele, mida Administrator ei näe, aga tal ei ole vajagi seda näha, sest tema vaade on laiema funktsionaalsusega*@

            @{
                Kasutaja k = Kasutaja.ByEmail(User.Identity.Name);

                if (k == null)
                { }

                else
                {
                    KasutajaRoll z = KasutajaRoll.ById(k.Id) ?? null; @*The ?? operator is called the null-coalescing operator. It returns the left-hand operand if the operand is not null; otherwise it returns the right hand operand. Ilma parempoolse ’null’-ita igal juhul see ei tööta.*@

            if (z != null)
            {
                Roll y = Roll.ByRollId(z.RollId);
                if (Request.IsAuthenticated && KasutajaRoll.ById(k.Id) != null && Roll.KasOnAdmin(z.RollId) == false)
                {

                            <!--SIIN ALGAB-->
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nimi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Osakond.Nimetus)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                @if (User.Identity.Name == item.Email)
                                {
                                    <i>|</i>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    <i>|</i>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                }
                            </td>
                        </tr>
                    }
                            <!--SIIN LÕPPEB-->

                }

                @*See on Administrator vaade Kasutajad lehele, mida teistes rollised kasutajad ei näe*@

            else if (Request.IsAuthenticated && KasutajaRoll.ById(k.Id) != null && Roll.KasOnAdmin(z.RollId) == true)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nimi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Osakond.Nimetus)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })

                            <i>|</i>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            <i>|</i>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                        }
                    }
                }
            }
            }
        </table>
    }
}
