﻿@model IEnumerable<WebApplication3.Kasutaja>

@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Nimekiri";
}
@{
    if (!User.Identity.IsAuthenticated || Kasutaja.ByEmail(User.Identity.Name) == null)
    {
        <p>Siin pole mitte midagi. Mine ära. >:(</p>
    }
    else
    {
        KasutajaRoll k = KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id) ?? null;
        if (k == null)
        {
            <p>
                Nägemiseks on vajalik roll - Teil puudub see. Paluge adminnil endale roll määrata.
            </p>
        }
        else
        {

            <h2>Töötajate nimekiri</h2>

            <p>
                <br />
                @Html.ActionLink("Muuda enda infot", "Edit", new { id = Kasutaja.ByEmail(User.Identity.Name).Id })
            </p>

            using (Html.BeginForm("Nimekiri", "Kasutaja", FormMethod.Get))
            {
                <p>
                    Otsi termini järgi: @Html.TextBox("searchWord", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Otsi" class="btn btn-default" />
                    <input type="button" onclick="location.href = '@Url.Action("Nimekiri", "Kasutaja", new { searchWord = "" })'" value="Reset" class="btn btn-default" />
                </p>
            }


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nimi)

                        @if (ViewBag.Suund == "name_asc")
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "name_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else //NB! Ei tohi olla "else if", sest muidu, kui vajutada teistele nooltele, kaotab ViewBag.Suund oma väärtuse, mistõttu nime noolt ei näidata, sest kumbki if ei vasta tõele
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "name_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)

                        @if (ViewBag.Email == "email_desc")
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "email_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "email_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Osakond)

                        @if (ViewBag.Osak == "osak_desc")
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "osak_asc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "osak_desc", currentFilter = ViewBag.CurrentFilter })">
                                <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                            </a>
                        }
                    </th>
                    <th>
                        Oskused ja tase

                        @* Oskuste järgi sorteerimine hetkel kinni pandud, sest oskuseid saame sorteerima teises nimekirjas (Lauri).
                                @if (ViewBag.Oskus == "oskus_desc")
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "oskus_asc" })">
                                    <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "oskus_desc" })">
                                    <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }*@
                    </th>
                   
                    @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                    {
                        <th>
                            @*@Html.DisplayNameFor(model => model.KasutajaRoll)*@
                            Roll

                            @if (ViewBag.Roll == "roll_desc")
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "roll_asc", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "roll_desc", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aktiivsus)

                            @if (ViewBag.Akt == "aktiv")
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "inaktiv", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-regular" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Nimekiri", "Kasutaja", new { sortOrder = "aktiv", currentFilter = ViewBag.CurrentFilter })">
                                    <img class="arrow-inverted" src="\Projekt items\aiga-down-arrow-bg-800px.png" alt="arrow" width="15" />
                                </a>
                            }
                        </th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (Roll.KasOnEmployee(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true
                            && Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == false
                            && item.Id != Kasutaja.ByEmail(User.Identity.Name).Id)
                            {
                                @Html.DisplayFor(modelItem => item.Nimi)
                            }
                            else
                            {
                                <b class="custom-link">
                                    @Html.ActionLink(item.Nimi, "Details", new { id = item.Id })
                                </b>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Osakond.Nimetus)
                        </td>
                        <td>
                            @{
                                var oskusNimi = item.KasutajaOskus.Select(x => x.Oskus.Nimetus);
                                var j = 0;
                            }

                            @foreach (var s in oskusNimi)
                            {
                                var taseNr = item.KasutajaOskus.Select(x => x.Tase).Skip(j).Take(1);
                                @Html.DisplayFor(modelItem => s) 
                                <text> (@Html.DisplayFor(modelItem => taseNr)) </text>

                                j++;
                                
                                if (j < oskusNimi.ToArray().Length)
                                {
                                    <text>|</text>
                                }
                            }
                        </td>
                        
                        @if (Roll.KasOnAdmin(Roll.ByRollId(KasutajaRoll.ById(Kasutaja.ByEmail(User.Identity.Name).Id).RollId).Id) == true)
                        {
                            <td>
                                @{
                                    var rollNimi = item.KasutajaRoll.Select(x => x.Roll.Nimetus);
                                }
                                @Html.DisplayFor(modelItem => rollNimi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Aktiivsus)
                            </td>

                            <td>
                                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                            </td>
                                    }
                    </tr>
                                    }
            </table>
            <br />

            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfNames, page => Url.Action("Nimekiri", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                        }
                                    }
}
@*<img class="jooksev-poiss" src="~/Content/icons8-exercise-50.png" />*@